<%- include('./header', {adminName: adminName}) %>


<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

      <!-- <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile">
            <span class="login-status online"></span>

          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">David Grey. H</span>
            <span class="text-secondary text-small">Project Manager</span>
          </div> 
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
          <span class="menu-title">DASHBOARD</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-products" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">PRODUCTS</span>
          <i class="menu-arrow"></i>
          <i class="mdi menu-icon mdi-shoe-formal" style="font-size: 24px;"></i>
        </a>
        <div class="collapse" id="ui-products">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/products">LISTED</a></li>
            <li class="nav-item"> <a class="nav-link" href="">UNLISTED</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/users">
          <span class="menu-title">USERS</span>
          <i class="mdi menu-icon mdi-account-multiple"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-categories" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">CATEGORIES</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-cube-outline menu-icon"></i>
        </a>
        <div class="collapse" id="ui-categories">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/category">LISTED</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/category/unlisted">UNLISTED</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="">
          <span class="menu-title">ORDERS</span>
          <i class="mdi mdi-cart menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="">
          <span class="menu-title">COUPON</span>
          <i class="mdi mdi-tag menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="">
          <span class="menu-title">BANNER</span>
          <i class="mdi mdi-label menu-icon"></i>
        </a>
      </li>

    </ul>
  </nav>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-description"> ADD PRODUCT </p>
                <form class="forms-sample" id="product-form" action="" method="POST">

                  <div class="form-group">
                    <label for="exampleInputUsername1">Model</label>
                    <input type="text" class="form-control" id="model" placeholder="model name">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Brand</label>
                    <input type="text" class="form-control" id="brand" placeholder="brand">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="quantity">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Size</label>
                    <input type="text" class="form-control" id="size" placeholder="size">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Color</label>
                    <input type="text" class="form-control" id="color" placeholder="color">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Gender</label>
                    <input type="text" class="form-control" id="gender" placeholder="gender">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Price</label>
                    <input type="text" class="form-control" id="price" placeholder="price">
                  </div>

  
                    <!-- <input type="text" class="form-control" id="category" placeholder="category"> -->
                    <div class="form-group">
                      <label for="category">Category</label>
                      <select class="form-control" id="category">
                  
                      </select>
                    </div>
                   
                 
                  <div class="form-group">
                    <label for="exampleInputUsername1">Outer material</label>
                    <input type="text" class="form-control" id="outer-material" placeholder="outer material">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Sole material</label>
                    <input type="text" class="form-control" id="sole-material" placeholder="sole material">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="write description">
                  </div>

                  <div class="input-group">
                    <label for="exampleInputUsername1">Upload Image</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file" name="image" multiple>
                    </div>



<div class="container mt-5">
  <label for="formFileLg" class="form-label">Large file input example</label>
  <div class="file-input-box">
    <input class="form-control form-control-lg" id="formFileLg" type="file">
    <span>Drag and drop a file here or click to upload</span>
  </div>
</div>


                  <input type="submit" class="btn btn-gradient-primary mr-2">Submit</input>
                  <a href="/admin/products" class="btn btn-light">Cancel</a>
                </form>

         
              </div>
            </div>
          </div>



    </div>
    <!-- content-wrapper ends -->

   
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const productForm = document.getElementById('product-form')

  document.addEventListener('DOMContentLoaded',(event) => {

    axios.get('/admin/category/list')
            .then((response) => {
      
                  if (response.status === 200) {
        const categories = response.data;

        const categorySelect = document.getElementById('category');

        categories.categories.forEach(category => {
          const option = document.createElement('option');
          option.value = category._id; 
          option.textContent = category.categoryName; 
          categorySelect.appendChild(option);
        });
      }
      
            })
            .catch((error) => {
                console.log("it is an error", error)
            })

  })
   

 
</script>
<%- include('./footer') %>