<%- include('./header', {isLogin: isLogin, cartCount: 0}) %>

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="bread">
          <span><a href="index.html">Home</a></span> /
          <span>Profile</span> /
          <span>Change password</span>
        </p>
      </div>
    </div>
  </div>
</div>



<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <form
    method="post"
    id="changePasswordForm"
    action=""
    class="colorlib-form col-md-3"
    style="height: auto"
  >
    <h2 class="text-center" style="margin-bottom: 25px">CHANGE PASSWORD</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input
            type="password"
            id="currentPassword"
            class="form-control"
            placeholder="Current password"
          />
        </div>

        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            id="newPassword"
            class="form-control"
            placeholder="New password"
          />
        </div>


        <div class="form-group">
          <label for="confirmNewPassword">Confirm New Password</label>
          <input
            type="password"
            id="confirmNewPassword"
            class="form-control"
            placeholder="Confirm password"
          />
        </div>

        <!-- <div class="form-group">
          <label for="companyname">EMAIL</label>
      <input value="vishnumohanmfc@gmail.com" type="email" id="email" class="form-control" placeholder="Email Address">
      <span id="emailError" style="color: red"></span>
</div> -->

      </div>

      <input
        type="submit"
        class="btn btn-dark"
        style="
          width: 100%;
          border-radius: 10px;
          height: 50px;
          margin-left: 15px;
          margin-right: 15px;
        "
      />
    </div>
  </form>
</div>




<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const changePasswordForm =document.getElementById('changePasswordForm')

  changePasswordForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const currentPassword = document.getElementById("currentPassword");
    const newPassword = document.getElementById("newPassword");
    const confirmNewPassword = document.getElementById("confirmNewPassword");

    axios
      .post("/profile/changePassword", { currentPassword: currentPassword.value, newPassword: newPassword.value})
      .then((response) => {
        if (response.status == 200) {
          new Noty({
            type: "success",
            text: response.data.message,
            timeout: 3000, // Duration to display the message (in milliseconds)
            layout: "bottomCenter",
            theme: "relax",
            animation: {
              open: "animated bounceInRight",
              close: "animated bounceOutRight",
            },
            callbacks: {
              afterClose: function () {
                // Redirect to the sign-in page after the notification closes
                window.location.href = "/profile";
              },
            },
          }).show();
        }
      })
      .catch((error) => {
        console.log("it is an error", error);
        if (error.response.status == 409) {
            new Noty({
              type: "error",
              text: error.response.data.message,
              timeout: 3000,
              layout: "bottomCenter",
              theme: "metroui",
            }).show();
        }
      });
  });
</script>

<%- include('./footer') %>